@import '../../../node_modules/antd/lib/style/themes/default.less';
@import '../../../node_modules/bootstrap/dist/css/bootstrap-grid.css';
@import "vars";

:global {
  #root, .height-100 {
    min-height: 100%;
    width: 100%;
    height: 100%; /* NEW */
  }

  .tl_logo {
    position: relative;
    transition: all .3s;

    h1 {
      font-size: 20px;
    }
  }
  .w-100 {
    width: 100%;
  }
  .float-right {
    float: right;
  }
  .text-center {
    text-align: center;
  }
}